@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cart-dropdown-container {
    @apply flex justify-center md:justify-end md:mx-5;
  }
  .cart-dropdown-menu {
    @apply absolute h-72 w-64 bg-slate-200 outline outline-1 overflow-x-auto;
  }
  .cart-item {
    @apply flex;
  }
  .checkout-btn {
    @apply absolute mt-52 bg-slate-100 outline outline-1 px-4 py-2 md:mr-16 hover:invert;
  }
}
