@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply flex items-center justify-center flex-col m-4 space-y-4 md:flex-row md:items-end md:justify-end md:space-x-6 md:space-y-0 md:m-8;
  }
  .title {
    @apply font-sans font-bold text-3xl text-center m-4;
  }
  .nav-link {
    @apply font-sans font-semibold text-zinc-600 hover:underline;
  }
}
